.input-container {
  cursor: text;
}

.input-container div.row:nth-child(2) {
  margin-bottom: 30px;
}

.input-number {
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  font-size: xx-large;
  border-right: #fff 1px solid;
}

#time-input {
  margin: 0 0 5px 23px;
  width: 167px;
  padding: 10px 0 5px 15px;
}

#timer-list div h2 {
  font-family: 'Source Serif Pro', serif;
  margin-right: 10px;
  display: inline;
}

.timer-row > div > span.glyphicon {
  top: 26px;
  font-size: 24px;
  transition: ease 0.25s;
  position: absolute;
}

span.glyphicon.glyphicon-repeat {
  left: 130px;
  color: green;
}

span.glyphicon.glyphicon-repeat:hover {
  color: #87E287;
  transform: translate(1px, 1px);
}

span.glyphicon.glyphicon-remove {
  left: 155px;
  color: red;
}

span.glyphicon.glyphicon-remove:hover {
  color: #FF9999;
  transform: translate(1px, 1px);
}

span.glyphicon.glyphicon-edit {
  left: 180px;
  color: goldenrod;
  top: 25px !important;
}

span.glyphicon.glyphicon-edit:hover {
  color: #EEDFB9;
  transform: translate(1px, 1px);
}

#timer-list div h6 {
  margin-bottom: 0;
}

#timer-list div h6 span.label {
  left: 5px;
  top: -2px;
  position: relative;
}

#timer-list div form div {
  top: 20px;
  float: left;
}

@keyframes blink {
  50% {
    border-right: #888 1px solid;
  }
}

.seconds-box-blink {
  animation: blink .5s step-end infinite alternate;
}

.text-muted {
  color: #eee;
}

.btn-grp-plus-minus {
  position: absolute;
  top: 0;
  display: none;
}

.btn-grp-plus-minus > a > span.glyphicon {
  background: white;
  width: 14px;
  height: 14px;
  box-shadow: 0px 0px 1px 0px;
  border-radius: 9px;
}

span.glyphicon.glyphicon-plus {}

.btn-plus-hour, .btn-plus-min, .btn-plus-sec {
  position: absolute;
  color: green;
  top: 14px;
}

.btn-minus-hour, .btn-minus-min, .btn-minus-sec {
  position: absolute;
  color: red;
  top: 50px;
}

.btn-plus-hour, .btn-minus-hour {
  left: 10px;
}

.btn-plus-min, .btn-minus-min {
  left: 48px;
}

.btn-plus-sec, .btn-minus-sec {
  left: 86px;
}